
@{
    ViewBag.Title = "adminhome";
}



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center text-danger">Welcome to Admin Dashboard</h2>


            <br />
            <img src="~/images/blog/man-four.jpg" class="img-circle center-block" />
            <br />

        </div>
    </div>
    </div>



