@model IEnumerable<MarketShare.Models.marketuser>
    @{
        ViewBag.Title = "viewfeedback";
    }

@{
    WebGrid gd = new WebGrid(Model, rowsPerPage: 3, canPage: true);
}

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $(".delbtn").on("click", function () {
            var s = confirm("Are you sure to delete?");
            if (s) {
                var tr = $(this).parents('tr:first');
                var feedbackid = $(this).attr("data-id");
                $.ajax({
                    type: "get",
                    contentType: "application/json;charset=utf-8",
                    url: '@Url.Action("deletefeedback", "Admin")',
                    data: { "feedbackid": feedbackid },
                    dataType: "json",
                    success: function (data) {
                        alert(data.result);
                        tr.hide();
                    }
                });
            }
        });
    });
</script>

<div class="container">
<div class="row">
        <div class="col-sm-12">
            <h2 class="text-center text-danger">View Feedback</h2>
            <div id="gridContent">
                @gd.GetHtml(tableStyle: "table table-bordered",
                headerStyle: "warning",
                alternatingRowStyle: "danger",
                selectedRowStyle: "success",
                columns: gd.Columns(
                     gd.Column("feedbackid", "FeedbackId"),
                     gd.Column("name", "Name"),
                     gd.Column("emailid", "Email Id"),
                     gd.Column("contactno", "Contact No"),
                     gd.Column("subject", "Subject"),
                     gd.Column("message", "Message"),
 gd.Column("Action", format: @<text>
<input type="button" value="Delete" data-id="@item.feedbackid" class="display-mode delbtn" />
</text>)
         ))
</div>
        </div>
    </div>
</div>


