
@{
    ViewBag.Title = "changepassword";
}


<form method="post">
    <div class="container">
        <div row="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4" style="background-color:gainsboro">
               
                    <h2 class="text-center text-danger"><b>Change Password</b></h2>
                    <div class="form-group">
                        <label for="inputpassword">Current Password</label>
                        <input type="password" name="password" class="form-control" id="inputpassword" placeholder="Current Password" />
                    </div>
                    <div class="form-group">
                        <label for="inputnewpassword">New Password</label>
                        <input type="password" name="newpassword" class="form-control" id="inputnewpassword" placeholder="New Password" />
                    </div>
                    <div class="form-group">
                        <label for="inputconformpassword">Confirm Password</label>
                        <input type="password" name="confirmpassword" class="form-control" id="inputconformpassword" placeholder="Conform Password" />
                    </div>
                    <input type="submit" class="btn btn-success" value="Submit" />
                    <p>@ViewBag.msg</p>
              
            </div>
        </div>
    </div>
</form>