
@{
    ViewBag.Title = "thankyou";
}


<form>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h2 class="text-center text-danger">Thank You For Your Order!</h2><br />
                <h2 class="text-center text-danger">Your Order Id:@ViewBag.orderid</h2><br />
                
              <input type="button" value="View Order Details" class="btn btn-primary" />

            </div>
        </div>
    </div>
</form>

